@font-face {
    font-family: SourceSansPro-Regular;
    src: url(./Font/source-sans-pro/SourceSansPro-Regular.otf);
  }
@font-face {
    font-family: spincycle_ot;
    src: url(./Font/Spin-Cycle-OT/spincycle_ot.otf);
  }

body{
    margin: 0 auto;
    width: auto;
}
  /*Header and Banner section*/
 .header{
    position: absolute;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
} 
 .header .site-logo{
    align-self: center;
    margin-left: 150px;
    margin-right: 650px;
 }
 a:link,a:visited{
    color: white;
    text-decoration: none;
    margin:10px;
 }

 .header #navigation-links{
    flex-direction: column;
    justify-content: space-around;
 }
 /*Get-Schooled*/
 .get-schooled{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .get-schooled h1{
    color: white;
    font-size:90px;
    margin-top:150px;
    margin-bottom: 10px;
 }
 .get-schooled p{
    color: white;
    margin-top: 10px;
 }
 .btn{
    height: 1cm;
    border-radius: 10px;
    border-color: blueviolet;
    background-color: blueviolet;
    color: white;
 }
 .main-section{
    width: auto;
    background-image: url("../images/smile-background.png");
    background-repeat: no-repeat;
    object-fit: fill;
}
#smiles h2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
    color: white;
}
#smiles a{
    color: blueviolet;
    margin-right: 5px;
}
.smile-winners{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: content-box;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
}
.smile-winners .pros{
    color: white;
    align-self: auto;    
}
/*end of header and banner section*/

/*quotes section*/

.quotes{
    background-color: blueviolet;
    display: flex;
    justify-content: center;  
}
.quotes #weather-presenter{
    box-sizing: content-box;
    margin-top: 50px;
    margin-bottom: 50px;
}
.block-quote{
    display: flex;
    flex-direction: column;
    color: white;
}
#the-quote{
    align-self: center;
    margin-top: 60px;
    margin-bottom: -20px;
}
#quote-author{
    margin-top: -10px;
    margin-left: 40px;
    margin-bottom: 10px;
}
#quote-author p{
    margin-top: 10px;
    margin-bottom: 5px;
}
/*end of quotes section*/

/*videos section*/
.videos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.videos h1 a{
    color: blueviolet; 
}
.main-vid-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    box-sizing: content-box;
    margin-left: 100px;
    margin-right: 100px;
}
#vid-1,#vid-2,#vid-3,#vid-4{
    box-sizing: border-box;
    margin: 20px;
}

#rating,#n-name{
    color: blueviolet;
}
#n-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#n-name h3{
    margin-left: 15px;
}
#rating{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#rating p {
    margin-left: 20px;
    margin-right: 20px;
}
#rating img{
    border-radius: 5px;
}
/*end of videos section*/

/*Free membership*/
.membership{
    background-color: rgb(7, 7, 40);
    height: auto;
}
#free-membership h1{
    color:white;
    margin-top: 50px;
}
#free-membership a{
    color: blueviolet;
}
#free-membership{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-member{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#mem-part{
    box-sizing: border-box;
    margin:20px;
    color: white;
    align-items: center;
}

.register{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}
/*end of free memberdhip section>

/*FAQ section*/
#FAQ{
    background-color: white;
    color:black;
}
.faq{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}
.rows{
    column-count: 2;
    column-gap: 0px;
    column-width: auto;
}
#row-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 100px;
    margin-right: 100px;
}
#row-block p{
    color: gray;
}
/*end of FAQ section*/

/*Footer*/
.F-footer{
    background-color:rgb(7, 7, 40); 
    height: auto;
}
#footer-section{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.logo{
    justify-content: left;
    margin-right: 650px;
    margin-left: 100px;
}
.socials{
    justify-content: right;
}
.copyright{
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*end of footer*/

